<!-- launches one node for the specified Bluetooth anchor,
the data from the anchor is published on topic ID/angles_raw-->

<launch>
    <arg name="usb_port" default="/dev/ttyUSB0"/>
    <arg name="id" default="1"/>
    <arg name="read_freq" default="100"/>
    <arg name="n_avg" default="15"/>

    <node name="bt_angle$(arg id)" pkg="xplraoa_ros" type="bt_angle.py" args="$(arg usb_port) $(arg read_freq) $(arg n_avg) $(arg id)" output="screen" required='true'/>
</launch>